:root {
  --color-dark: #000000;
  --color-light: #ab7743;
  --color-text-light: #ffffff;
  --color-text-dark: #333333;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="ocean"] {
  --color-light: #006994;
}

[data-theme="forest"] {
  --color-light: #365004;
}

[data-theme="purple"] {
  --color-light: #bf93d0;
}

[data-theme="rose"] {
  --color-light: #eeb9b8;
}

[data-theme="default"] {
  --color-light: #ab7743;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-dark);
  transition: background-color 0.8s ease;
}

body.light-on {
  background-color: var(--color-light);
}

#root {
  width: 100%;
  height: 100vh;
}